<div class="wrapper">
  <div class="wrapper__modal">
    <section class="wrapper__modal-title">
      <h2>¿Reiniciar servicio Servicio 1 - lorem ipsum? </h2>
      <button class="wrapper__modal__close-button" (click)="goBack()">
        <ngx-spad-icon-component>
          <i class="icon-close"></i>
        </ngx-spad-icon-component>
      </button>
    </section>
    <section class="wrapper__modal-desc">
      <p>El servicio se reiniciará de forma obligatoria para garantizar su correcto funcionamiento. Durante este proceso, es posible que experimentes una breve interrupción.</p>
      <p>Por favor, indica la razón del reinicio. Se enviará una notificación para alertar a otros usuarios sobre esta acción</p>
    </section>
  </div>
</div>
