@font-face {
  font-family: PoppinsRegular;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsSemibold;
  src: url(../../../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../../../assets/fonts/Poppins-Medium.ttf);
}

html {
  font-family: PoppinsRegular, sans-serif;
}
